SMPR_APPLICATION="project"
SMPR_ALLOWED_HOST=["localhost"]
SMPR_SECRETS_DIR=
SMPR_ALLOW_ORIGINS=["*"]
SMPR_ALLOW_HEADERS=["*"]
SMPR_ALLOW_METHODS=["GET","POST","PUT","PATCH","DELETE"]
SMPR_PAYMENT_PSW_FILE=path_to_file

# Настройки PostgreSQL
SMPR_POSTGRES_NAME=postgres
SMPR_POSTGRES_USER=postgres
SMPR_POSTGRES_PASS_FILE=path_to_file
SMPR_POSTGRES_HOST=localhost
SMPR_POSTGRES_PORT=5432
SMPR_ECHO=True

# auth
SMPR_PASSWORD_FILE=path_to_file
SMPR_PRIVATE_KEY=path_to_file
SMPR_PUBLIC_KEY=path_to_file
SMPR_ALGORITHM=EdDSA
SMPR_ACCESS_TOKEN_EXPIRE_MINUTES=30